body {
 font-family: "Ubuntu", sans-serif;
 margin: 0;
 padding: 0;
}
h1,
h2,
h3 {
 font-family: "Rubik", sans-serif;
}
h1 {
 font-size: 60px;
}
h2 {
 font-size: 50px;
}
h3 {
 font-size: 40px;
}

.half-width {
 display: flex;
}
.header-text {
 padding: 50px 100px;
 width: 40%;
 margin: 20px;
 /* border: 2px solid red; */
}
.header-img {
 padding: 50px 100px;
 /* border: 2px solid red; */
 margin: 20px;
 width: 40%;
}
img {
 width: 100%;
}
.header-sec {
 background: url(./image/top-banner.png);
 background-repeat: no-repeat;
}
.btn {
 text-decoration: none;
 background-image: linear-gradient(orange, tomato);
 padding: 10px 20px;
 border: none;
 border-radius: 10px;
}
a {
 text-decoration: none;
 color: white;
 font-size: 25px;
}
.color-span {
 color: #24c1e0;
 font-size: 70px;
}
.middle-sec {
 background: url(./image/dream-bg.png);
 background-repeat: no-repeat;
 background-position: right;
}
.exp-sec h1 {
 text-align: center;
}
.baby-dev {
 width: 50%;
 margin: 10px 50px;
 padding: 10px 20px;
 text-align: center;
 box-shadow: -5px 5px 30px black;
 border-left: 7px solid;
 border-image: linear-gradient(orange, tomato);
 border-image-slice: 1;
}
.exp-dev {
 width: 50%;
 margin: 10px 50px;
 padding: 10px 20px;
 text-align: center;
 box-shadow: -5px 5px 30px black;
 border-left: 7px solid;
 border-image: linear-gradient(orange, tomato);
 border-image-slice: 1;
}
.exp-box {
 background-image: url(./image/exp-bg.png);
 background-repeat: no-repeat;
 background-position: left;
}
